:javascript
  function formAjaxSubmit(form_selector = '.remote_ent_form') {
    $(form_selector).ajaxSubmit({
      success: function(data){
        document.location.reload();
      },
      error: function(data){
        console.log(data)
        displayErrorData(data);
      }
    });
  }

  function deleteItem(delete_url) {
    $.ajax({
      url: delete_url,
      type: 'DELETE',
      success: function(data){            
        document.location.reload();
      },
      error: function(data){
        displayErrorData(data);
      }
    });
  }

  function displayErrorData(data) {
    if (data.responseJSON !== undefined && data.responseJSON.error !== undefined) {
      if (typeof data.responseJSON.error == 'string') {
        $(".errors").append('<div class="error-item">' + data.responseJSON.error + '</div>');
      } else {
        var err_obj = data.responseJSON.error
        console.log(err_obj);
        Object.keys(err_obj).forEach(function (key) { 
          var value = err_obj[key]
          $(".errors").append(key + ': ' + value[0]);
        })
      }
      
    } else {
      $(".errors").append('<div class="error-item">Can\'t delete item (' + data.status + ')</div>');
    }
    $(".errors").show();

    setTimeout(function(){
      $(".errors").html('');
      $(".errors").hide();
    }, 5000);
  }

  function photoPreload(fileInput) {
    var uploadedImageTemplate = '<div class="uploaded-file"><div class="thumb-block uploaded-thumb-block"></div><div class="file-action-block"><div class="name"></div><a href="#" class="green link underline remove-preview">Remove this photo</a></div></div>'

    document.getElementById(fileInput).addEventListener('change', function (e) {
      if('.uploaded-file') {
        $('.uploaded-file').remove();
      }
      
      var file = this.files[0];
      var reader = new FileReader();

      var extension = file.name.split('.').pop().toLowerCase();
      var pdfPreview = $('.pdfPreview');

      reader.onload = function(e) {
        var img = new Image();
        img.src = reader.result;

        
        $('.uploaded-file-container').append(uploadedImageTemplate)
        $('.uploaded-thumb-block').html(img);

        if(extension == 'pdf') {
          $('.uploaded-thumb-block').parents('div').find(pdfPreview).removeClass('hidden-preview');
        } else {
          $('.uploaded-thumb-block').parents('div').find(pdfPreview).addClass('hidden-preview');
        }

        $('.get-badge').css('display', 'flex');
      }
      
      reader.readAsDataURL(file);

    });
  }

