- content_for :extra_javascript do
  :javascript
    var input = document.getElementById('location');

    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();

    $(document).ready(function() {

      $('#location').keypress(function(e) {
        if(e.keyCode === 13){
          e.preventDefault();
          delay(function(){
            var inputLocation = $('.search-form #location'),
              startPHLocation = $('#location').prop('placeholder'),
              emptyLocation = 'Select location from dropdown list';

            if($('#lat-value').val() === '' && !($('#location').hasClass('.input-error'))) {
              inputLocation.prop('placeholder', emptyLocation);
              var firstResult = $(".pac-container .pac-item:first .pac-item-query").text();
              inputLocation.val(firstResult);
              $('.search-form').submit();
            } else {
              inputLocation.removeClass('input-error');
              inputLocation.prop('placeholder', startPHLocation);
              $('.search-form').submit();
            };

          }, 500);
        }
      });

      $('#location').on('keypress', function(){
        $('#lat-value').val('');
        $('#lng-value').val('');
        if($(this).val() != '') {
          $(this).removeClass('input-error');
          $(this).prop('placeholder', startPHLocation);
        }
      });

      $('#location').on('focus', function(){
        $(this).prop('placeholder', startPHLocation)
      });

      // Validation of search-form
      var startPHLocation = $('#location').prop('placeholder'),
        emptyLocation = 'Select location from dropdown list',

        startPHFrom = $('#from').prop('placeholder'),
        emptyFrom = 'Select date',

        startPHTo = $('#to').prop('placeholder'),
        emptyTo = 'Select date';

      function locateValidation(){
        var inputLocation = $('.search-form #location');
          inputFrom = $('.search-form #from');
          inputTo = $('.search-form #to');

        if($('#lat-value').val() == '' && !($('#location').hasClass('.input-error'))) {
          inputLocation.addClass('input-error');
          inputLocation.val('');
          inputLocation.prop('placeholder', emptyLocation);
        } else {
          inputLocation.removeClass('input-error');
          inputLocation.prop('placeholder', startPHLocation);
        };

        if($('.search-form .input-error').length == 0) {
          $('.search-form').submit();
        }
      };

      $('.search-form button[type="submit"]').on('click', function(e){
        e.preventDefault();
        locateValidation();
      })

    });

    function initMap() {
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();

        if (!place.geometry) {
          var firstResult = $(".pac-container .pac-item:first .pac-item-query").text();
          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({"address":firstResult }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              $('#lat-value').val(results[0].geometry.location.lat());
              $('#lng-value').val(results[0].geometry.location.lng());

              $(".pac-container .pac-item:first").addClass("pac-selected");
              $(".pac-container").css("display","none");
              $('#location').val(firstResult);
              $(".pac-container").css("visibility","hidden");
            }
          });
          return;
        };

        var address = '';
        if (place.address_components) {
          address = [
            (place.address_components[0] && place.address_components[0].short_name || ''),
            (place.address_components[1] && place.address_components[1].short_name || ''),
            (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
        };
        $('#lat-value').val(place.geometry.location.lat());
        $('#lng-value').val(place.geometry.location.lng());
      });
    }

%script{async: "", defer: "", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3l7AsKHTwtVByqkpAGCNOXzNv6nug2k&libraries=places&callback=initMap"}
