- content_for :title_header do
  - is_homepage = params[:controller] == "homepage" && params[:action] == "index"
  - hidden_slogan = !@current_community.show_slogan? ? "hidden-title-part" : ""
  - hidden_description = !@current_community.show_description? ? "hidden-title-part" : ""
  %h1.marketplace-lander-content-title.cursor Put Your Skills to Use
  %p.marketplace-lander-content-description Earn money with your passions, skills and talents by joining our community.

.instruction
  .container
    .instruction-inner
      .text-block
        %h2.instruction-title As easy as...
        .instruction-step-item
          .num 1
          .text 
            Sign up with us 
            %br/
            and create a profile.
        .instruction-step-item
          .num 2
          .text 
            Add certifications, awards 
            %br/ 
            and any qualifications you 
            %br/
            have.
        .instruction-step-item
          .num 3
          .text 
            Post your Class
            %br/
            plan with pictures
            %br/
            and description.
        .instruction-step-item
          .num 4
          .text 
            Start accepting Members,
            %br/
            meeting new people
            %br/
            and earning money!
      .image-block
        = image_tag "homepage/instruction.jpg", class: 'image'