@import "compass/css3/border-radius";
@import "mixins/all";

$profile-pic-size-mobile: lines(3);
$profile-pic-gutter-mobile: lines(0.5);

.people-image {
  display: none;
  > img {
    width: 100%;
    height: 100%; // ToDo: remove/ it's for test
  }

  @include media(tablet) {
    padding: 0.3125rem;
    display: block;
    border: 1px solid $cust-light-gray;
    height: 16.25rem;
    position: relative;
    overflow: hidden;
  }
}

.people-header {
  padding-bottom: lines(0.25);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
}

.people-load-more-listings-container {
  clear: both;
  margin-bottom: 7rem;
}

.people-show-closed-link {
  font-size: 13px;
  margin-left: lines(0.5);
}

.profile-action-buttons-desktop {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.profile-action-buttons-mobile {
  padding-left: $profile-pic-size-mobile + $profile-pic-gutter-mobile;
  padding-bottom: lines(0.75);
  margin-top: lines(0.65);
  margin-bottom: lines(0.5);
  border-bottom: 1px solid $border;

  @include media(tablet) {
    display: none;
  }
}

.profile-edit-link, .profile-contact-link {
  @include button($cust-violet);
  border: 2px solid $cust-violet;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.people-image-mobile {
  width: $profile-pic-size-mobile;
  position: absolute;
  top: 0;
  left: 0;

  > img {
    @include border-radius($default-border-radius);
    width: 100%;
  }

  @include media(tablet) {
    display: none;
  }

}

.people-fluid-thumbnail-grid-container {
  @include create-fluid-thumbnail-grid(people, 1, 1, 2, 3, 2, 2, 3, 3);
}

//.people-listings {
//  &.fluid-thumbnail-grid-image-overlay,
//  &.fluid-thumbnail-grid-image-image {
//    @include border-radius($default-border-radius);
//  }
//}

#profile-followed-people-list {
  .fluid-thumbnail-grid-image-image-container {
    padding-bottom: 100%;
  }
}

.people-custom-fields-title {
  font-weight: bold;
  margin-right: 5px;
}

.profile-container {
  max-width: 60.375rem;
  margin: 0 auto;
  top: -5.4375rem;
  position: relative;
  padding-left: 0.75em;
  padding-right: 0.75em;

  &.profile-container--member {
    top: em(60);
  }
}



.profile-about-me {
  margin-top: 0.6875rem;
  line-height: 1.3125rem;

  ol {
    padding-left: 1.5em
  }

  p {
    font-size: 0.9375rem;
  }
}

.profile-data-holder {
  display: flex;
  max-width: 48.8125rem;
  margin: 0 auto 22px;
  background: white;
  padding-bottom: 3.125rem;
  flex-wrap: wrap;

  @include media(tablet) {
    flex-wrap: nowrap;
  }
}

.profile-data-ava {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 1.25rem;
  order: 2;

  @include media(tablet) {
    order: 1;
    flex: 0 0 31%;
    max-width: 31%;
    //padding: 0.625rem;
  }
}

.profile-cover-photo-holder {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}

.profile-cover-photo-item {
  flex: 0 0 100%;
  max-width: 100%;

  @include media(large-mobile){
    flex: 0 0 50%;
    max-width: 50%;
  }

  @include media(small-tablet){
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.profile-data-info {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 2.1875rem 0.625rem 0 2.0625rem;

  @include media(tablet) {
    flex: 0 0 calc(69% - 1.25rem);
    max-width: calc(69% - 1.25rem);
    padding-left: 0;
    padding-top: 1.75rem;
    padding-right: 1.5625rem;
    order: 2;
  }
}

.profile-title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-report-title {
  display: flex;
  align-items: center;

  span {
    color: $cust-violet;
    text-transform: uppercase;
    font-weight: 600;
    font-size: em(14);
  }
}

.profile-report-text {
  margin-left: em(5);
}

.profile-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-subtitle {
  margin-bottom: 0;
  line-height: 1.375rem;
  font-weight: 600;
  font-size: 0.9375rem;
}

.profile-rating {
  margin-bottom: 0.5rem;
  display: block;
}

.people-progress-holder {
  padding: 1.875rem 1.875rem 0 2.1875rem;

  @include media(tablet) {
    padding: 0.3125rem 1.5rem;
  }
}

.people-progress {
  display: flex;
  align-items: center;
}

.people-progress-text {
  text-transform: uppercase;
  font-weight: 600;
  color: $cust-green;
  font-size: 0.9375rem;
  padding-left: 0.5rem;
}

.people-progress-title {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
