@import "compass/utilities/general/clearfix";
@import "mixins/all";

$testimonial-avatar-width: em(56);
$testimonial-avatar-height: $testimonial-avatar-width;
$testimonial-gutter: lines(0.5);
$testimonial-icon-width: 50;

.testimonial {
  position: relative;
  @include clearfix;
  min-height: $testimonial-avatar-height;
}

.testimonial-avatar {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  width: em(56);
  height: em(56);
  border-radius: 50%;
  overflow: hidden;

  // Set size to 100%, so the image shrinks when font-size is reduced
  // for smaller devices
  > a, > a > img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.testimonial-details {
  padding-left: $testimonial-avatar-width + $testimonial-gutter;
  padding-right: em($testimonial-icon-width) + $testimonial-gutter;
  padding-bottom: lines(0.5);
  margin-bottom: lines(0.5);
}

.testimonial-author {
  line-height: 1rem;
}

.testimonial-author-name {
  font-size: 17px;
  color: black;
  text-transform: capitalize;
  font-weight: 600;
  display: block;
}

.testimonial-author-time {
  font-size: em(15);
}

.testimonial-message {
  margin-top: em(19);
  p {
    line-height: em(17);
    font-size: em(15);
  }
}

.testimonial-icon {
  position: absolute;
  right: 0;
  top: 4px;
  // width: em($testimonial-icon-width, 26);

  // @include large-type;

  &.positive {
    color: $green;
  }

  &.negative {
    color: $red;
  }

  &.faded {
    color: #d9d9d9;
  }
}

.load-more-testimonials {
  margin-top: lines(1);
}
