
.page-content-inner.signup-instructor
  .signup-form.centered-section.wizard-section
    .errors
    %h2.section-title.text-center Sign up to be an Instructor
    %h3.section-subtitle.section-subtitle--regular.text-center Earn money with your passions, skills and talents by joining our community.
    

    -# - if @community_customization && @community_customization.signup_info_content
    -#   %p
    -#     = @community_customization.signup_info_content.html_safe
    -# - elsif @current_community.allowed_emails && @current_community.allowed_emails[0] != "/" 
    -#   %p
    -#     = t('.email_restriction_instructions',
    -#           :community_name => @current_community.name(I18n.locale),
    -#           :allowed_emails => @current_community.allowed_emails,
    -#           :count => (@current_community.allowed_emails.split(",").count))

    = render partial: 'member_wizard/registered_oauth_form'

-# = render partial: 'view_tools/remote_form_submit_handler'
= render partial: 'view_tools/ajax_form_submit_handler'

:javascript
  onDocumentReady(function() {
    $('.submit_remote_form_btn').on("click", function(){
      formAjaxSubmit('#custom_profile_form');
    });
  });

