:javascript
  onDocumentReady(function(){
    $('.confirm_step_btn').bind('ajax:success', function(event, data) {
      if (data.success == true) {
        document.location = data.new_step_url
      } else {
        $(".errors").html('Step is incomplete!')
      }
    });
  });

