
.page-content-inner.signup-member
  .signup-form.centered-section.wizard-section
    .errors
    %h2.section-title.text-center Start learning something new everyday
    %h3.section-subtitle.section-subtitle--regular.text-center Come explore our strange and wonderful market of classes and activities
    

    -# - if @community_customization && @community_customization.signup_info_content
    -#   %p
    -#     = @community_customization.signup_info_content.html_safe
    -# - elsif @current_community.allowed_emails && @current_community.allowed_emails[0] != "/" 
    -#   %p
    -#     = t('.email_restriction_instructions',
    -#           :community_name => @current_community.name(I18n.locale),
    -#           :allowed_emails => @current_community.allowed_emails,
    -#           :count => (@current_community.allowed_emails.split(",").count))

    = render partial: 'registered_oauth_form'
  // = render :partial => "help_texts", :collection => ["terms", "help_invitation_code", "privacy"], :as => :field

= render partial: 'view_tools/ajax_form_submit_handler'

:javascript
  onDocumentReady(function() {
    $('.submit_remote_form_btn').on("click", function(){
      formAjaxSubmit('#custom_profile_form');
    });
  });

