@import 'mixins/all';

h1, h2, h3, h4, h5, h6, p, span {
  color: $cust-text;
}

body.homepage_homepage {
  color: $cust-text;
  .page-content {
    .wrapper {
      max-width: 100%;
      padding: 0;
    }
  }
}

.page-content {
  min-height: calc(100vh - 100px);
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  @include media(mid-desktop) {
    padding: 0;
  }
}

.section-title {
  font-size: 32px;
  font-weight: bold;
}

.input-icon-holder {
  display: flex;
  align-items: center;
  position: relative;
}

.label-icon {
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  [class*="icon-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


// Typewriter

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 33px;
  width: 13px;
  @include media(mid-desktop) {
    height: 51px;
  }
}

p.cursor::after {
  height: 16px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

// END: Typewriter

.violet {
  color: $cust-violet;
}

.white {
  color: #fff;
}

.text-center {
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  line-height: 1;
  &--white {
    background-color: #fff;
    color: $cust-violet;
    font-size: 16px;
    border: 2px solid #fff;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
  &--transparent {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      color: $cust-violet;
      background-color: #fff;
    }
  }
  &--violet {
    background-color: $cust-violet;
    color: #fff;
  }
  &--green {
    background-color: $cust-green;
    border: 2px solid $cust-green;
    color: #fff;
  }
  &--green-transp {
    background-color: transparent;
    border: 2px solid $cust-green;
    color: $cust-green;
  }
  &--left {
    margin-right: 15px;
  }
  &--right {
    margin-left: 15px;
  }
}

.link-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .button--left {
    margin-right: 0;
  }
  .button--right {
    margin-left: 0;
  }
  @include media(small-tablet) {
    flex-wrap: nowrap;
    .button--left {
      margin-right: 15px;
    }
    .button--right {
      margin-left: 15px;
    }
  }
}

// footer

.custom-footer {
  background-color: $cust-text;
  padding: 50px 0;
}

.footer-list {
  margin-bottom: 0;
}

.footer-title {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-menu {
  &__item {
    text-align: center;
    line-height: normal;
  }
}

.footer-link {
  color: #fff;
  font-family: 'Sintony', sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.footer-menu--socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.social-link {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 9px;
}


// END: footer

.icon-star-half-empty {
  &:before {
    content: '\f5c0';
    font-family: FontAwesome;
  }
}


// ui slider customization

.price-data {
  .noUi-horizontal .noUi-handle {
    border-top: 22px solid $cust-violet;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    background: transparent;
    border-radius: 0;
  }

  .noUi-horizontal {
    height: 3px;
  }

  .noUi-connect {
    background: $cust-violet;
  }
}


.custom-filter-checkbox-label {
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  input[type="checkbox"] + span {
    padding-left: 18px;
    margin: 0;
    font-size: 16px;
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border: 1px solid $cust-light-gray;
      display: inline-block;
      left: 0;
      top: 5px;
    }
    &::after {
      content: '\f00c';
      font-family: FontAwesome;
      color: #fff;
      position: absolute;
      left: 1px;
      top: 6px;
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
    }
  }
  input[type="checkbox"]:checked + span {
    &::before {
      background-color: $cust-green;
      border-color: $cust-green;
    }
  }
}

