@import 'mixins/all';

h1, h2, h3, h4, h5, h6, p, span {
  color: $cust-text;
}

body.homepage_homepage {
  color: $cust-text;
  .page-content {
    .wrapper {
      max-width: 100%;
      padding: 0;
    }
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
}

.input-icon-holder {
  display: flex;
  align-items: center;
  position: relative;
}

.label-icon {
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  [class*="icon-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


// Typewriter

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 55px;
  width: 13px;
}

p.cursor::after {
  height: 18px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

// END: Typewriter

.violet {
  color: $cust-violet;
}

.white {
  color: #fff;
}

.text-center {
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.link-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  line-height: 1;
  &--white {
    background-color: #fff;
    color: $cust-violet;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #fff;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
  &--transparent {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      color: $cust-violet;
      background-color: #fff;
    }
  }
  &--left {
    margin-right: 15px;
  }
  &--right {
    margin-left: 15px;
  }
}

// footer

.custom-footer {
  background-color: $cust-text;
  padding: 50px 0;
}

.footer-list {
  margin-bottom: 0;
}

.footer-title {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-menu {
  &__item {
    text-align: center;
    line-height: normal;
  }
}

.footer-link {
  color: #fff;
  font-family: 'Sintony', sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.footer-menu--socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.social-link {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 9px;
}


// END: footer