body.homepage_homepage {
  .page-content {
    .wrapper {
      max-width: 100%;
      padding: 0;
    }
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
}

.input-icon-holder {
  display: flex;
  align-items: center;
  position: relative;
}

.label-icon {
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}