@import 'mixins/all';

.banner {
  height: 617px;
  background-image: url(image-path('homepage/home-banner.png'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -3px;
  .marketplace-lander-content-title {
    padding: 0;
    min-height: 139px;
    font-size: 55px;
    width: 490px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .marketplace-lander-content-description {
    margin: 0;
    min-height: 25px;
    font-size: 18px;
    font-family: 'Sintony', sans-serif;
    width: 100%;
    max-width: 100%;
    font-weight: normal;
    margin-bottom: 25px;
  }
}

.output {
  padding-top: 100px;
}

.marketplace-lander {
  input[type=text] {
    font-size: 14px;
    padding-left: 32px;
    border-radius: 0;
    line-height: normal;
    min-height: 1px;
    font-family: 'Sintony', sans-serif;
    font-weight: normal;
  }
}

.home-search {
  display: flex;
  .input-icon-holder {
    margin-right: 2.25%;
    &:first-of-type {
      width: 47%;
    }
    &:last-of-type {
      width: 29.5%;
    }
    .input {
      width: 100%;
    }
  }
  .search-btn {
    width: 18%;
    margin: 0;
    border-radius: 0;
    text-transform: uppercase;
    background-color: $cust-green;
    line-height: 1;
    font-weight: bold;
    padding-bottom: 10px;
  }
}

// how-it-works 

.how-it-works {
  background-image: url(image-path('homepage/home-banner-2.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 80px 0 75px;
  .section-title {
    display: inline-block;
    background-color: $cust-green;
    padding: 10px 38px;
    margin-bottom: 65px;
  }
}

.how-works-list {
  margin-bottom: 60px;
  .image-block {
    height: 64px;
    margin-bottom: 15px;
  }
  .text {
    color: #fff;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    padding: 0 30px;
    p {
      margin-bottom: 0;
      color: #fff;
    }
  }
}

// END: how-it-works


// ways 

.ways {
  padding: 80px 0;
  text-align: center;
  .section-title {
    margin-bottom: 30px;
  }
  .list-item-title {
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 24px;
  }
  .image-block {
    margin-bottom: 15px;
  }
  .text {
    p {
      padding: 0 36px;
      font-family: 'Sintony', sans-serif;
      font-size: 13px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }
}

// END: ways

// inspiration

.inspiration {
  padding: 50px 0;
  .section-title {
    margin-bottom: 40px;
  }
  &-list {
    background-image: url(image-path("homepage/inspiration.jpg"));
    .row {
      margin-bottom: 0;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    border: 3px solid #8ccc8e;
    min-height: 91px;
    margin-bottom: 24px;
    outline: 12px solid #fff;
  }
  .image-icon {
    padding: 0 30px;
    min-width: 133px;
    text-align: center;
  }
}

.full-block {
  .inspiration-link {
    outline-width: 24px;
    justify-content: center;
  }
}

.category-title {
  color: #fff;
  font-family: 'Sintony', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

// END: inspiration

.base-list {
  padding-left: 0;
  list-style: none;
}

.inspiration-list {

}
