@import 'mixins/all';

.people_new,
body[class*="wizard"] {
  .marketplace-lander {
    display: none;
  }
  .page-content {
    padding: 70px 0;
  }
  .wrapper {
    background-color: transparent;
  }
}

// sighup page

.people_new {
  background-color: $cust-violet;
  a.fb-connect,
  a.google-login-button {
    margin-top: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: auto;
    min-height: 1px;
    .google-icon {
      display: inline-block;
      padding-top: 0;
    }
  }
  a.fb-connect {
    border: 1px solid #365899;
    .fb-text {
      color: #fff;
    }
  }
  .fb-text, .google-text {
    line-height: 1;
  }
}

.wizard-section {
  background-color: #fff;
  width: 780px;
  max-width: 100%;
  padding: 64px 80px 50px;
  margin: 0 auto;
}

.signup-form {
  .section-title {
    margin-bottom: 10px;
  }
  .section-subtitle {
    margin-bottom: 30px;
  }
  .new_person {
    padding-bottom: 20px;
  }
  input {
    font-size: 14px;
    line-height: 1;
    min-height: 34px; 
    font-family: 'Sintony', sans-serif;
  }
}

.signup-btn {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  .input-holder {
    width: 100%;
    margin-bottom: 25px;
    &:first-child:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.socials-signup {
  display: flex;
}

.google-login-button {
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 20px;
  &:hover, &:focus, &:active {
    background-color: #fff;
  }
}

.birthday-holder {
  margin-bottom: 40px;
  .section-subtitle {
    margin-bottom: 0;
  }  
}

// pact page

.wizard-content {
  @include sintony;
  p {
    font-size: 13px;
  }
  .description {
    margin-bottom: 35px;
    p {
      margin-bottom: 0;
    }
  }
  .default-list {
    margin-bottom: 45px;
  }
  .link-holder {
    margin-top: 20px;
    .pact-submit {
      width: 100%;
    }
  }
}

body[class*="wizard"] {
  background-color: $cust-violet;
}

.default-list {
  font-size: 13px;
  list-style: none;
  padding-left: 0;
}

.small-icon {
  display: inline-block;
  svg {
    width: 9px;
    height: 9px;
  }
}

.pact-submit {
  &:first-child {
    @include media(small-tablet) {
      margin-right: 20px;
    }
  }
}