@import 'mixins/all';

h1, h2, h3, h4, h5, h6, p, span, div {
  color: $cust-text;
}

.page-content p {
  hyphens: none;
}

body {
  &.homepage_homepage,
  &.homepage_become_a_tutor {
    color: $cust-text;
    .page-content {
      .wrapper {
        max-width: 100%;
        padding: 0;
      }
    }
  }
  &.opened {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#171717, 0.2);
      z-index: 9;
    }
  }
}

.page-content {
  min-height: calc(100vh - 100px);
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  @include media(mid-desktop) {
    padding: 0;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: bold;
  margin-top: 0;
  svg {
    width: 39px;
    height: 39px;
    margin-left: 10px;
  }
}

.section-title-big {
  font-size: 33px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.2;
  @include media(tablet) {
    font-size: 45px;
  }
}

.small-title {
  font-size: 21px;
  font-weight: 900;
  margin-bottom: 24px;
}

.tiny-title {
  font-size: 13px;
  @include sintony;
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 18px;
  font-family: 'Sintony', sans-serif;
  &--regular {
    font-weight: normal;
  }
}

.flex-block {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.input-icon-holder {
  position: relative;
  &.search {
    .label-icon {
      left: 23px;
    }
  }
}

.label-icon {
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  [class*="icon-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


// Typewriter

.output {
  .cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  .marketplace-lander-content-title.cursor::after {
    height: 0.8em;
    width: 6px;
  }

  .marketplace-lander-content-description.cursor::after {
    // height: 16px;
    height: 0.8em;
    width: 3px;
  }
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

// END: Typewriter

.violet {
  color: $cust-violet;
}

.white {
  color: #fff;
}

.text-center {
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  line-height: 1;
  &--white {
    background-color: #fff;
    color: $cust-violet;
    font-size: 16px;
    border: 2px solid #fff;
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
  &--transparent {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      color: $cust-violet;
      background-color: #fff;
    }
  }
  &--violet {
    background-color: $cust-violet;
    color: #fff;
    border: 2px solid $cust-violet;
    &:hover, &:focus, &:active {
      background-color: #fff;
      color: $cust-violet;
    }
  }
  &--green {
    background-color: $cust-green;
    border: 2px solid $cust-green;
    color: #fff;
    &:hover, &:focus {
      background-color: #fff;
      color: $cust-green;
    }
  }
  &--green-transp {
    background-color: transparent;
    border: 2px solid $cust-green;
    color: $cust-green;
  }
  &--violet-transp {
    background-color: transparent;
    border: 2px solid $cust-violet;
    color: $cust-violet;
    &:hover, &:focus {
      background-color: $cust-violet;
      border: 2px solid $cust-violet;
      color: #fff;
    }
  }
  &--left {
    margin-right: 15px;
  }
  &--right {
    margin-left: 15px;
  }
  &--black {
    background-color: $cust-text;
    color: #fff;
    border: 2px solid $cust-text;
    &:hover, &:focus {
      background-color: #fff;
      color: $cust-text;
    }
  }
}

.btn, 
button {
  &.disabled {
    pointer-events: none;
    background-color: #dae0e6;
    border-color: #dae0e6;
    color: #fff;
  }
}

.single-btn {
  display: inline-block;
}

.block-btn {
  display: block;
}

.link-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn--left {
    margin-right: 0;
  }
  .btn--right {
    margin-left: 0;
  }
  @include media(small-tablet) {
    flex-wrap: nowrap;
    .btn--left {
      margin-right: 15px;
    }
    .btn--right {
      margin-left: 15px;
    }
    .btn {
      width: auto;
    }
  }
  &.flex-start {
    justify-content: flex-start;
  }
}

// footer

.custom-footer {
  background-color: $cust-text;
  padding: 50px 0;
  position: relative;
  &::before {
    content: '';
    background: rgba(140,204,142,1);
    background: -moz-linear-gradient(left, rgba(140,204,142,1) 0%, rgba(95,73,158,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(140,204,142,1)), color-stop(100%, rgba(95,73,158,1)));
    background: -webkit-linear-gradient(left, rgba(140,204,142,1) 0%, rgba(95,73,158,1) 100%);
    background: -o-linear-gradient(left, rgba(140,204,142,1) 0%, rgba(95,73,158,1) 100%);
    background: -ms-linear-gradient(left, rgba(140,204,142,1) 0%, rgba(95,73,158,1) 100%);
    background: linear-gradient(to right, rgba(140,204,142,1) 0%, rgba(95,73,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ccc8e', endColorstr='#5f499e', GradientType=1 );
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer-list {
  margin-bottom: 0;
}

.footer-title {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-menu {
  &__item {
    text-align: center;
    line-height: normal;
  }
}

.footer-link {
  color: #fff;
  font-family: 'Sintony', sans-serif;
  font-weight: normal;
  font-size: 12px;
}

.footer-menu--socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.social-link {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0 9px;
}


// END: footer

.icon-star-half-empty {
  &:before {
    content: '\f5c0';
    font-family: FontAwesome;
  }
}


// ui slider customization

.price-data {
  .noUi-horizontal .noUi-handle {
    border-top: 22px solid $cust-violet;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    background: transparent;
    border-radius: 0;
  }

  .noUi-horizontal {
    height: 3px;
  }

  .noUi-connect {
    background: $cust-violet;
  }
}


.custom-filter-checkbox-label {
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  input[type="checkbox"] + span {
    padding-left: 18px;
    margin: 0;
    font-size: 14px;
    &::before {
      font-family: 'Sintony', sans-serif;
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border: 1px solid $cust-light-gray;
      display: inline-block;
      left: 0;
      top: 5px;
    }
    &::after {
      content: '\f00c';
      font-family: FontAwesome;
      color: #fff;
      position: absolute;
      left: 1px;
      top: 6px;
      font-size: 12px;
      font-weight: normal;
      line-height: 1;
    }
  }
  input[type="checkbox"]:checked + span {
    &::before {
      background-color: $cust-green;
      border-color: $cust-green;
    }
  }
}

.filter-title {
  font-size: 21px;
  font-weight: bold;
}

// switcher

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $cust-light-gray;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: $cust-green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $cust-green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-right {
  @include media(tablet) {
    text-align: right;
  }
}

.home-toolbar-button-group-button.selected, 
.home-toolbar-show-filters-button.selected {
  .home-toolbar-button-text {
    color: #fff;
  }
}

.col-4 {
  margin-bottom: 2.75em;
  @include media(tablet) {
    margin-bottom: 0;
  }
}

input[type=text], input[type=password], input[type=number], textarea, .custom-select, select {
  border-radius: 0;
  box-shadow: 0.5px 0.866px 1px rgba(1,1,1,0.24);
  border-width: 1px;
  min-height: 34px;
}

.custom-select-holder > select {
  &:not(:last-of-type) {
    & + .select2 {
      &.select2-container--default {
        margin-bottom: 10px;
        @include media(large-mobile) {
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
  &:first-of-type, &:last-of-type {
    & + .select2 {
      &.select2-container--default {
        width: 100% !important; // rewrite select2 styles
        @include media(large-mobile) {
          width: 37% !important;
        }
      }
    }
  }
  &:nth-of-type(2) {
    & + .select2 {
      &.select2-container--default {
        width: 100% !important; // rewrite select2 styles
        @include media(large-mobile) {
          width: 26% !important;
        }
      }
    }
  }
  & + .select2 {
    &.select2-container--default {
      .select2-selection--single {
        border-radius: 0;
        box-shadow: 0.5px 0.866px 1px rgba(1,1,1,0.24);
        border-width: 1px;
        height: 34px;
        .select2-selection__rendered {
          line-height: 32px;
          font-size: 14px;
          font-family: 'Sintony', sans-serif;
        }
      }
    }
  }
}

.custom-select {
  & + .select2 {
    &.select2-container--default {
      .select2-selection--single {
        border-radius: 0;
        box-shadow: 0.5px 0.866px 1px rgba(1,1,1,0.24);
        border-width: 1px;
        height: 34px;
        .select2-selection__rendered {
          line-height: 32px;
          font-size: 14px;
          font-family: 'Sintony', sans-serif;
        }
      }
    }
  }
}

.select2-container--default {
  &.select2-container--open .select2-selection--single .select2-selection__arrow b,
  .select2-selection--single .select2-selection__arrow b {
    border: none;
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    border-right: 0;
    border-top: 0;
    width: 10px;
    height: 10px;
    transform: rotate(315deg);
  }
  &.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(-225deg);
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 7px;
}

.title-image-holder {
  width: 32px;
  margin-right: 10px;
  flex-shrink: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.errors {
  color: #ff0000;
  margin-bottom: 20px;
}

.block {
  display: block;
  text-align: center;
}

// settings

[class*="settings_"] {
  .marketplace-lander .coverimage-fade,
  .page-content {
    background-color: #f4f6f3;
    padding-top: 0;
    & > .wrapper {
      box-shadow: 0 0 25px rgba(53,152,219,0.1);
      position: relative;
    }
  }
  .title-header-wrapper,
  .page-content > .wrapper {
    max-width: 940px;
    padding-left: 0;
    padding-right: 0;
  }
  .left-navi {
    margin-top: 0;
    padding-top: 10px;
    height: 100%;
    border-right: 1px solid #edf0f2;
    & a.selected::after {
      display: none;
    }
  }
  .left-navi-section {
    margin-top: 0;
    padding: 25px 15px;
    min-height: 500px;
    @include media(tablet) {
      padding: 25px 15px 25px 0;
    }
  }
  .left-navi-link {
    line-height: 1;
    min-height: 1px;
    padding: 16px 15px;
    @include sintony;
    font-weight: bold;
    font-size: 15px;
    &.selected {
      background-color: transparent;
      .left-navi-link-text {
        color: $cust-text;
      }
    }
    .left-navi-link-icon {
      display: none;
    }
  }
  .left-navi-link-text {
    color: #8ea1b4;
    padding: 0;
    text-transform: uppercase;
    line-height: 1;
  }
  .left-navi-dropdown,
  .left-navi-menu {
    background-color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    .icon-file-alt,
    .icon-with-text {
      display: none;
    }
  }
  
  .text-with-icon {
    color: #8ea1b4;
  }

  .left-navi-dropdown {
    border-bottom: 1px solid #edf0f2;
    .text-with-icon {
      color: $cust-text;
    }
    &.toggled {
      .text-with-icon {
        color: #fff;
      }
    }
  }

  a {
    &:hover, &:focus {
      .text-with-icon {
        color: #fff;
      }
    }
  }

}

.settings-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #edf0f2;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.input-holder .label {
  margin-top: 0;
}

.extra-text {
  flex-shrink: 0;
}

button {
  padding-left: 15px;
  padding-right: 15px;
  &:hover, &:focus {
    color: #fff;
  }
}

.settings-section {
  .label {
    font-size: 13px;
    @include sintony;
    font-weight: normal;
    text-transform: capitalize;
  }
  button, .button {
    font-weight: bold;
  }
  .file-action-block {
    font-size: 13px;
  }
}

.avatar-file {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
}

.disabled {
  pointer-events: none;
}

.red {
  color: #ff0000;
}

.edit-settings-button {
  .icon-edit {
    color: $cust-violet;
  }
}