@import 'mixins/all';

.homepage_index {
  .page-content {
    padding: 0;
    .wrapper {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .wrapper-inner {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.search-result-container {
  .wrapper-inner {
    > .row {
      margin-bottom: 0;
    }
    @media (min-width: 1125px) {
      padding-right: 0;
    }
  }
}

.home-toolbar-button-group.filters-enabled.filters-enabled {
  @media (min-width: 1125px) {
    display: none;
  }
}

.search-listings-list {
  .home-fluid-thumbnail-grid-author {
    flex-direction: column;
  }
  .author-avatar-link {
    display: none;
  }
  .home-fluid-thumbnail-grid-author-avatar {
    padding-left: 0;
    padding-right: 0;
  }
}

.listings-main-container {
  width: 100%;
  @media (min-width: 1125px) {
    width: 67%;
  }
  @media (min-width: 1441px) {
    width: 75%;
  }
}

.listings-main-container {
  padding-top: 70px;
}

.custom-map-desktop {
  display: none;
  @media (min-width: 1125px) {
    display: block;
    width: 33%;
  }
  @media (min-width: 1441px) {
    width: 25%;
  }
}

.search-listings-list {
  &.home-fluid-thumbnail-grid-wide {
    .home-fluid-thumbnail-grid-item {
      width: 100%;
    }
  }
}

.fluid-thumbnail-grid-image-image-container {
  padding-bottom: 378px;
  &:hover, &:focus {
    .fluid-thumbnail-grid-listing-schedule {
      display: block;
    }
  }
}

@media (min-width: 730px) {
  .search-listings-list.home-fluid-thumbnail-grid-wide {
    .home-fluid-thumbnail-grid-item {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1441px) {
  .search-listings-list.home-fluid-thumbnail-grid-wide {
    .home-fluid-thumbnail-grid-item {
      width: 33.33%;
    }
  }
}

.home-map.map-mobile {
  height: calc(100vh - 300px);
  > .map {
    height: 100%;
  }
}

.fluid-thumbnail-grid-listing-info {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f4f6f3;
  padding: 5px 36px;
  border: 1px solid #f4f6f3;
  .text {
    font-size: 13px;
    text-transform: uppercase;
    color: $cust-violet;
    font-weight: bold;
    font-family: 'Sintony', sans-serif;
  }

  .people_show & {
    background: $white;
  }
}

.fluid-thumbnail-grid-listing-schedule {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 20px 34px;
  border: 1px solid #f4f6f3;
  display: none;
  .title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.schedule-item {
  line-height: 1;
  padding: 5px 0;
  .text {
    font-size: 13px;
    color: $cust-violet;
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
  }
}

.home-toolbar {
  padding: 60px 0 5px;
  background-color: #f4f6f3;
  box-shadow: 0.5px 0.866px 1px rgba(1,1,1,0.17);
  .home-search {
    justify-content: flex-start;
    max-width: 67%;
  }
}

//  customizing filters

.book-immediately {
  position: relative;
  .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  .label {
    box-shadow: 0.5px 0.866px 1px rgba(1,1,1,0.17);
  }
}

.checkbox-item {
  position: relative;
  .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
  .label {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
    margin: 0;
  }
  &.days {
    &:not(:last-child) {
      margin-right: 5px;
    }
    .label {
      font-size: 17px;
      padding: 10px 5px;
      min-width: 37px;
      @include media(large-mobile) {
        min-width: 41px;
        padding: 10px 8px;
      }
    }
  }
}

.no-pseudo {
  input[type="checkbox"]:checked + .label {
    background-color: $cust-green;
    color: #fff;
  }
}

.day-time {
  .label {
    font-size: 15px;
  }
}

.checkbox-holder {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.default-checkbox {
  position: relative;
  input[type="checkbox"] + .label {
    padding-left: 18px;
    margin: 0;
    font-size: 16px;
    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border: 1px solid $cust-light-gray;
      display: inline-block;
      left: 0;
      top: 5px;
    }
    &::after {
      content: '\f00c';
      font-family: FontAwesome;
      color: #fff;
      position: absolute;
      left: 1px;
      top: 6px;
      font-size: 12px;
      font-weight: normal;
      width: 15px;
      height: 15px;
      line-height: 1;
    }
  }
  input[type="checkbox"]:checked + .label {
    &::before {
      background-color: $cust-green;
      border-color: $cust-green;
    }
  }
}

.schedule-holder {
  font-size: 13px;
}

.schedule-data,
.price-data,
.class-type-data {
  font-size: 15px;
  padding: 20px 10px;
  width: 342px;
  background-color: #fff;
}

.class-type-holder {
  position: relative;
  .filter-action-holder {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
  }
}

.class-type-data {
  width: 275px;
  .checkbox-holder {
    flex-wrap: wrap;
  }
  .checkbox-item {
    width: 100%;
  }
  .label {
    text-align: left;
    font-weight: normal;
    font-family: 'Sintony', sans-serif;
  }
  .default-checkbox input[type="checkbox"] + .label {
    font-size: 13px;
    padding-left: 23px;
  }
  .link {
    text-decoration: underline;
    font-size: 13px;
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
  }
}

.price-data {
  width: 370px;
}

.filter-price-text {
  margin-top: 15px;
}

.day-time {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.chosen {
  margin-bottom: 15px;
}

.another-option-block {
  margin-top: 30px;
}

.another-btn {
  margin: 0 0 15px 0;
  background-color: transparent;
  color: $cust-violet;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  &:hover, &:focus, &:active {
    background-color: transparent;
    color: $cust-green;
    outline: none;
  }
}

.filter-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.filter-title-btn,
.more-options-btn {
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  position: relative;
}

.dropdown-btn {
  .btn {
    position: relative;
    &::before {
      content: '';
      width: 9px;
      height: 9px;
      border-left: 1px solid $cust-green;
      border-bottom: 1px solid $cust-green;
      transform: rotate(-45deg);
      display: inline-block;
      position: absolute;
      top: 13px;
      left: 10px;
    }
    &.selected {
      background-color: $cust-green;
      color: #fff;
      &::before {
        border-left-color: #fff;
        border-bottom-color: #fff;
      }
    }
  }
}

.custom-filter-title {
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  border-bottom: none;
  font-family: 'Sintony', sans-serif;
  margin-bottom: 10px;
}

.custom-filter-options {
  &:not(.custom-filter-options--price) {
    column-count: 3;
  }
}

.location-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  font-family: 'Sintony', sans-serif;
  > div {
    margin-bottom: 5px;
  }
}

input[type="text"].distance-input,
input[type="text"].location-input {
  display: inline-block;
  margin: 0 10px;
  border: none;
  border-radius: 0;
  box-shadow: 0.5px 0.866px 1px rgba(1, 1, 1, 0.17);
}

input[type="text"].distance-input {
  width: 50px;
}

input[type="text"].location-input {
  width: 200px;
}

.filter-data-item {
  margin-bottom: 30px;
}

.custom-filter-checkbox-container {
  margin-bottom: 10px;
}

.one-session {
  display: flex;
  align-items: center;
  .custom-filter-title {
    margin-right: 25px;
    margin-bottom: 0;
  }
}

.filter-btns-holder {
  margin: 15px 0;
  position: relative;
  @media (min-width: 1125px) {
    margin-bottom: 0;
  }
  .btn {
    font-weight: normal;
    text-transform: capitalize;
    padding: 12.5px 20px;
    box-shadow: 0.5px 0.866px 1px rgba(1, 1, 1, 0.17);
  }
  .more-options-btn {
    .btn {
      text-transform: uppercase;
    }
  }
  & > .checkbox-item, 
  .filters-holder, 
  .price-range-holder, 
  .more-options-holder {
    min-width: 172px;
    @media (min-width: 768px) and (max-width: 959px) {
      width: 50%;
      padding-left: 0;
      margin-bottom: 10px;
    }
    @media (min-width: 1441px) {
      max-width: 210px;
    }
  }
}

.price-range-holder, 
.more-options-holder,
.schedule-holder,
.book-immediately {
  position: relative;
}

.price-range-holder, 
.schedule-holder,
.class-type-holder {
  &.active {
    .filter-title-btn {
      z-index: 10;
      background-color: #fff;
    }
    .filter-dropdown {
      display: block;
    }
    .dropdown-btn {
      .btn {
        background-color: $cust-green;
        color: #fff;
        &::before {
          border-color: #fff;
          top: 18px;
          transform: rotate(135deg);
        }
      }
    }
  }
}

.more-options-holder {
  margin-right: 0;
  &.active {
    .filter-title-btn {
      z-index: 10;
    }
    & + .filter-dropdown {
      display: block;
    }
  }
}

.home-toolbar {
  margin-bottom: 0;
}

.search-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.custom-map-desktop {
  height: 100%;
  .home-map {
    height: 100%;
    & > .map {
      height: 100vh;
    }
    &.absolute {
      position: absolute;
      top: auto;
      bottom: 0;
      right: 0;
      width: calc(33% - 1.7em);
      > .map {
        height: 100%;
      }
    }
    &.fixed {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: calc(33% - 1.7em);
    }
    @media (min-width: 1441px) {
      &.absolute,
      &.fixed {
        width: calc(25% - 1.5em);
      }
    }
  }
}



.action-btn {
  margin: 0.75em 0;
  display: inline-block;
}

.filter-dropdown {
  display: none;
  position: absolute;
}

.schedule-data,
.price-data,
.class-type-data {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  max-width: calc(100vw - 2%);
  @include media(small-tablet) {
    left: 0.75em;
    transform: translateX(0);
  }
}

.filter-data {
  padding: 70px 20px 50px 20px;
  position: absolute;
  top: 326px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #fbfbfb;
  width: 100vw;
  @include media(large-mobile) {
    width: 100%;
  }
  @include media(tablet) {
    top: 230px;
    left: -45px;
    transform: translateX(0);
  }
  @include media(mid-desktop) {
    top: 52px;
  }
  @media (min-width: 1125px) {
    width: calc(67% + 45px);
  }
  @media (min-width: 1441px) {
    width: calc(75% + 45px);
  }
  .filter-data-item {
    padding-bottom: 26px;
  }
}

.search-result-container {
  position: relative;
  &.opened {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#171717, 0.2);
      z-index: 9;
    }
  }
}

.filter-action-holder {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 10px;
  .link {
    background-color: transparent;
    color: $cust-violet;
    font-size: 13px;
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &:focus, &:active {
      outline: none;
    }
    &.gray {
      color: #c6c6c6;
    }
  }
}

.option-item {
  margin-bottom: 30px;
}

.search-holder {
  &:not(.home-search) {
    .search-item {
      margin-bottom: 0.75em;
    }
    @include media(tablet) {
      .search-item {
        min-width: 50%;
        padding-left: 0;
        margin-bottom: 10px;
      }
    }
    @include media(mid-desktop) {
      .search-item {
        min-width: 33.33%;
      }
    }
    @media (min-width: 1221px) {
      min-width: 1px;
    }
  }
}