@font-face {
    font-family: 'Sintony';
    src: url('/webfonts/Sintony.eot');
    src: url('/webfonts/Sintony.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Sintony.ttf') format('ttf'),
        url('/webfonts/Sintony.woff2') format('woff2'),
        url('/webfonts/Sintony.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sintony';
    src: url('/webfonts/Sintony-Bold.eot');
    src: url('/webfonts/Sintony-Bold.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Sintony-Bold.ttf') format('ttf'),
        url('/webfonts/Sintony-Bold.woff2') format('woff2'),
        url('/webfonts/Sintony-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
