.icon {
  background-image: image_url('icons/icons-sprite.png');
  width: 17px;
  height: 17px;
  display: inline-block;
}

.icon-verified {
  background-position: 0 0;
}

.icon-competitor {
  background-position: 0px -20px;
  height: 19px;
}

.icon-soc {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.icon-faceb {
  background-position: -29px 0px;
}

.icon-youtube {
  background-position: -63px 0px;
}

.icon-twit {
  background-position: -95px 0px;
}

.icon-insta {
  background-position: -129px 0px;
}

.icon-tamblr {
  background-position: -63px -32px;
}

.icon-twitch {
  background-position: -29px -32px;
}

.icon-report {
  background-position: 0px -45px;
}