.soc-list
  .soc-item
    %i.icon.icon-soc.icon-faceb
    = link_to 'faceb', @custom_profile.social_link_facebook, :class => 'soc-link', :target => '_blank'
  .soc-item
    %i.icon.icon-soc.icon-youtube
    = link_to 'twit', @custom_profile.social_link_youtube, :class => 'soc-link', :target => '_blank'
  .soc-item
    %i.icon.icon-soc.icon-twit
    = link_to 'faceb', @custom_profile.social_link_twitter, :class => 'soc-link', :target => '_blank'
  .soc-item
    %i.icon.icon-soc.icon-google
    = link_to 'faceb', '#', :class => 'soc-link', :target => '_blank'