- if @current_user.is_tutor?
  = render partial: 'confirmation_pending_tutor', locals: {support_email: support_email}
- else
  = render partial: 'confirmation_pending_member', locals: {support_email: support_email}

