#raty_star_on.stars_for_raty{data: {url: asset_path('star-on.png')}}
#raty_star_off.stars_for_raty{data: {url: asset_path('star-off.png')}}
#raty_star_half.stars_for_raty{data: {url: asset_path('star-half.png')}}
